

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    font-family: 'Lato',Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale    
}

/* --------------------------------- HEADER ---------------------------------- */

#header {
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    background-color: rgb(54, 54, 54);
    margin: 0rem;
}


#header > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#header .giant {
    font-size: 4rem;
    margin: 0rem;
    color: gainsboro;
}

#header p {
    color: rgb(146, 146, 146);   
}

a {
    text-decoration: none;
}

#helplink {
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#helplink:hover {
    color: black;
    background-color: gainsboro;
    cursor: pointer;
}


@keyframes opacityFadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}



/* --------------------------------- HELP PAGE  ---------------------------------- */

.stackedit__html {
    margin-left: 15%;
    margin-right: 15%;
    background-color: whitesmoke;

}

body,html {
    color: rgba(0,0,0,.75);
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px
}

td:last-child,th:last-child {
    border-right: 0
}

td {
    border-top: 1px solid #dcdcdc
}

stackedit__html h1,h2,h3,h4,h5,h6 {
    margin: 1.8em 0;
    line-height: 1.33
}

stackedit__html h1:after,h2:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0,0%,50%,.33)
}

img {
    max-width: 100%;
    height: auto;
}