@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');
  
body {
    margin: 0;
    background-color: rgb(80, 80, 80);

    font-family: 'Lato',Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale  
}

body > a {
    display: none;
}

/* --------------------------------- HEADER ---------------------------------- */

#header {
    color: white;
    opacity: 0.4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
    margin: 0rem;
}

#header:hover {
    animation: 0.5s opacityFadeIn;
    animation-fill-mode: forwards;
}

#header > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#header .giant {
    font-size: 4rem;
    margin: 0rem;
    margin-left: 1rem;
    color: gainsboro;

    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#header p {
    color: rgb(146, 146, 146);   
}

#header a {
    text-decoration: none;
}

#helplink {
    margin-right: 2rem;
}

#helplink:hover {
    font-weight: 900;
    cursor: pointer;
}

@keyframes opacityFadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}




/* --------------------------------- MAIN LIST AREA ---------------------------------- */

#outerlist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

#mainlist {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    padding: 5rem;
}


/* --------------------------------- SETTING SCREEN ---------------------------------- */


#spacer {
    height: 30vh;
}

#settingScreen {
    background-color: gainsboro;
    position: fixed;
    width: 100%;
    max-height: 40vh;
    overflow-y: auto;
    background-color: rgb(153, 153, 153);
    padding: 5px 0px 5px 0px;
}

#settingScreen div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem;
}

#settingScreen input[type=text] {
    border-radius: 0.25rem;
    border: none;
    background-color: rgb(43 43 43 / 86%);
    color: gainsboro;
    font-weight: 400;
    padding: inherit;
    margin: inherit;
    flex-grow: 2;
}

#settingScreen h4 {
    margin: 0.5rem;
    margin-left: 2rem;
    padding: inherit;
    font-weight: 400;
    border-bottom: 1px solid gray;
}

#settingScreen label, #settingScreen p {
    width: 7rem;
    padding: inherit;
    margin: inherit;
    margin-left: 2rem;
    margin-right: 1rem;
    font-weight: 300;
}


#settingScreen .darkButton {
    margin: 1px 10px 1px 0px;
    color: gainsboro;
    background-color: rgb(43 43 43 / 86%);
    border-radius: 0.25rem;
    min-width: 10rem;
    text-align: center;
    padding: inherit;
    font-weight: 400;
}

#settingScreen .darkButton:hover {
    background-color: rgb(192, 192, 192);
    color: black;
    cursor: pointer;
}

@keyframes slide-up {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0%;
    }
}
  
.panel-slide-up {
    animation-name: slide-up;
    animation-duration: 0.5s;
}

@keyframes slide-down {
    from {
      bottom: 0%;
    }
    to {
      bottom: -100%;
    }
}

.panel-slide-down {
    animation-name: slide-down;
    animation-duration: 1s;
}



/* --------------------------------- SETTING BUTTON ---------------------------------- */

#settingButton {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 10px;
    padding: 5px;

    border-radius: 50%;
    cursor: pointer;
    opacity: 0.2;
    background-color: rgb(192, 192, 192);
}

#settingButton:hover {    
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
}


/* --------------------------------- MEDIA QUERRIES ---------------------------------- */


@media screen and (max-width: 800px) 
{
    #mainlist {
        padding: 0rem;
    }

    #settingScreen {
        padding: 0px;
        margin: 0px;
        max-height: 50vh;
        overflow-y: auto;
    }

    #spacer {
        height: 50vh;
    }

    #settingScreen .vertable {
        flex-direction: column;
    }

    #settingScreen label, #settingScreen p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #settingScreen input[type=text] {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    

}
