body {
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;

    font-family: 'Lato',Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale    
}

/* --------------------------------- HEADER ---------------------------------- */

#header {
    color: white;
    opacity: 0.4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
    margin: 0rem;
}

#header:hover {
    animation: 0.5s opacityFadeIn;
    animation-fill-mode: forwards;
}

#header > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#header .giant {
    font-size: 4rem;
    margin: 0rem;
    color: gainsboro;
}

#header p {
    color: rgb(146, 146, 146);   
}

#header a {
    text-decoration: none;
}

#helplink {
    margin-right: 2rem;
}

#helplink:hover {
    color: black;
    background-color: gainsboro;
    cursor: pointer;
}


@keyframes opacityFadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}



/* --------------------------------- MAINLIST AREA ---------------------------------- */

#outerlist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

#mainlist {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    padding: 5rem;
}

.info {
    display: none;
}

body > a {
    display: none;
}

/* --------------------------------- ICONS ---------------------------------- */

.show {
    position: relative;
    width: 182px;
    height: 182px;
    align-items: center;
    margin: 5px;
}

.show img {
    width: 100%;
    height: 100%;
}

.show .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    visibility: hidden;
    opacity: 0;
}

.show:hover .name {
    visibility: visible;
    animation: 0.2s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.show .xbut {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.xbut:hover {
    background-color: rgb(255, 97, 24);
}

.selected {
    border: 3px solid rgb(255, 97, 24);
    /* background-color: rgb(255, 97, 24); */
}


/* --------------------------------- SETTING BUTTON ---------------------------------- */

#settingButton {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 10px;
    padding: 5px;

    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

#settingButton:hover {
    background-color: rgb(192, 192, 192);
    
    animation: 0.5s opacityFadeIn;
    animation-fill-mode: forwards;
}


.plusButton {
    width: 182px;
    height: 182px;
    box-sizing: border-box;
}

.plusButton:hover {
    background-color: gray;
}


/* --------------------------------- SETTING SCREEN ---------------------------------- */

/* The spacer only appears to prevent the setting screen from blocking the lower portion of the mainlist. */
#spacer {
    display: none;
    width: 100%;
    height: 370px;
}

#settingScreen {
    display: none;
    background-color: rgb(153, 153, 153);
    position: fixed;
    bottom: 0;
    align-self: center;
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-weight: 300;
}

#settingScreen input {
    border-radius: 0.25rem;
    border: none;
    background-color: rgb(43 43 43 / 86%);
    color: white;
    padding: inherit;
}

#settingScreen > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
    padding: inherit;
}

#settingScreen label, #settingScreen p {
    width: 7rem;
    margin-left: 2rem;
    margin-right: 1rem;
    font-weight: 300;
}

.darkButton {
    margin: 1px 10px 1px 0px;
    color: gray;
    background-color: rgb(43 43 43 / 86%);
    border-radius: 0.25rem;
    min-width: 10rem;
    text-align: center;
    padding: inherit;
}

.darkButton:hover {
    background-color: rgb(192, 192, 192);
    color: black;
    cursor: pointer;
}

#settingScreen h4 {
    margin: 0.5rem;
    margin-left: 2rem;
    padding: inherit;
    font-weight: 400;
    border-bottom: 1px solid gray;
}