body {
    background-color: rgb(51 67 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

#outerlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainlist {
    /* max-width: 1092px; */
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(43 43 43 / 86%);
    justify-content: center;
    padding: 5rem;
}

.info {
    display: none;
}

body > a {
    display: none;
}

/* --------------------------------- ICONS ---------------------------------- */

.show {
    position: relative;
    width: 182px;
    height: 182px;
    align-items: center;
    margin: 5px;
}

.show img {
    width: 182px;
    height: 182px;
}

.show .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    /* border-radius: 1rem; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    visibility: hidden;
    opacity: 0;
}

.show:hover .name {
    visibility: visible;
    animation: 0.2s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.show .xbut {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.xbut:hover {
    background-color: rgb(255, 97, 24);
}

.selected {
    border: 3px solid rgb(255, 97, 24);
    /* background-color: rgb(255, 97, 24); */
}


/* --------------------------------- SETTING BUTTON ---------------------------------- */

#settingButton {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 10px;
    padding: 5px;

    border-radius: 50%;
    /* background-color: rgb(43 43 43 / 86%); */
    /* border: 1px solid rgb(43 43 43 / 86%); */
    cursor: pointer;
}

#settingButton:hover {
    background-color: rgb(192, 192, 192);
}


.plusButton {
    width: 182px;
    height: 182px;
    box-sizing: border-box;
}

.plusButton:hover {
    background-color: gray;
}


/* --------------------------------- SETTING SCREEN ---------------------------------- */

/* The spacer only appears to prevent the setting screen from blocking the lower portion of the mainlist. */
#spacer {
    display: none;
    width: 100%;
    height: 480px;
}

#settingScreen {
    /* display: none; */
    background-color: gray;
    position: fixed;
    bottom: 0;
    align-self: center;
    width: 80%;
    
}

#settingScreen input[type="text"] {
    border-radius: 5px;
    border: none;
    background-color: rgb(43 43 43 / 86%);
    color: white;
    font-size: 1.2rem;
    flex-grow: 2;
    margin: 10px;
    height: 2rem;
}

#settingScreen > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#settingScreen label {
    width: 100px;
    margin: 10px;
}

#settingScreen #moveButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

#moveButtons > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

#moveButtons > img:hover {
    background-color: rgb(192, 192, 192);
}

#settingScreen #colorDiv {
    display: flex;
    margin: 5px;
    /* align-content: flex-start; */
    justify-content: flex-start;
}

#colorDiv > label {
    margin: 1rem;
    width: max-content;
}

#settingScreen #backupButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}